
<!--<h1>Summary#list</h1>-->

<table border="0">

	<tr>
		<th><%= @sum_type_title %></th>
		<th style="color: blue;">収入</th>
		<th style="color: red;">支出</th>
		<th>合計</th>
	</tr>

<% unless @summary_hash.blank? %>

	<%# each_with_index %>
	<% @summary_hash.each{ |value| %>
		<tr>
			<!-- 期間 -->
			<td style="text-align: right"><%= value[0] %><%= @sum_type_title %></td>

			<!-- 収入 -->
			<td style="text-align: right; color: blue;"><%= value[1][:income] %></td>

			<!-- 支出 -->
			<td style="text-align: right; color: red;"><%= value[1][:expense] %></td>

			<!-- 合計 -->
			<td style="text-align: right"><%= value[1][:amount] %></td>
		</tr>
	<% } # each_with_index - END %>

<% end %>

</table>
