
<%= error_messages_for :item %>

<% form_for @item, :url => { :action => "update", :id => @item.id, :sum_type => @sum_type, :date=> @now_date } do |f| %>
  <p>
    品目名<br />
    <%= f.text_field :name, :class => "input_field_width_200" %>
  </p>
  
  <br />

  <p>
    収支タイプ<br />
		<%#= f.select :item_type, [ ["収入", "income"], ["支出", "expense"] ] %>
		<% print "【 @item.item_type 】>> " ; p @item.item_type ; %>
    <%= f.radio_button :item_type, "income", :checked => @item_type_income %><label for="item_item_type_income">収入</label>
    <%= f.radio_button :item_type, "expense", :checked => @item_type_expense %><label for="item_item_type_expense">支出</label>
  </p>

<% if false %>
  <p>
    <b>周期</b><br />
    <%= f.text_field :cycle, :size => "10" %> <%= f.select :cycle_mode, [ ["day","day"], ["month","month"], ["year","year"] ] %>
  </p>
<% end %>

  <br />
  
  <p>
    金額<br />
    <%= f.text_field :price, :size => "20", :class => "input_field_width_100" %>円
  </p>

  <br />

  <p>
    発生日<br />
    <%= f.date_select :happen_at, :use_month_numbers => true %>
  </p>

  <br />

  <p>
    <%= f.submit t("menu.save"), :disable_with => t("menu.save") %>
  </p>
<% end %>

<br />

<span class="menu">
  <%= link_to t("total.amount"), :controller => "total", :action => "amount", :sum_type => @sum_type, :date=> @now_date %>
  <%= link_to t("menu.show"), :action => "show", :id => @item.id, :sum_type => @sum_type, :date=> @now_date %>
</span>