<!--<h3>品目登録</h3>-->

<%= error_messages_for :item %>

<% form_for @item, :url => { :action => "create", :sum_type => @sum_type, :date=> @now_date } do |f| %>
  <p>
    <b>品目名</b><br />
    <%= f.text_field :name %>
  </p>

  <br />
  
  <p>
    <b>品目タイプ</b><br />
		<%#= f.select :item_type, [ ["収入", "income"], ["支出", "expense"] ] %>
	  <%= f.radio_button :item_type, "income", :checked => false %><label for="item_item_type_income">収入</label>
	  <%= f.radio_button :item_type, "expense", :checked => true %><label for="item_item_type_expense">支出</label>
  </p>

<% if false %>
  <p>
    <b>周期</b><br />
    <%= f.text_field :cycle, :size => "10" %> <%= f.select :cycle_mode, [ ["day","day"], ["month","month"], ["year","year"] ] %>
  </p>
<% end %>

  <br />
  
  <p>
    <b>金額</b><br />
    <%= f.text_field :price, :size => "20" %>
  </p>

  <br />

  <p>
    <b>発生日</b><br />
    <%= f.date_select :happen_at, :use_month_numbers => true %>
  </p>

  <br />

  <p>
    <%= f.submit "作成" %>
  </p>
<% end %>

  <br />

<span class="menu"><%= link_to t("menu.list"), :controller => "total", :action => "amount", :sum_type => @sum_type, :date=> @now_date %></span>
