
<% unless @item.blank? %>
  <table border="0">
    <tr>
      <th align="left"><%= t("item.name") %>:</th>
      <td><%=h @item.name %></td>
    </tr>
    
    <tr>
      <th align="left"><%= t("item.type") %>:</th>
      <td><%=h @item_type %></td>
    </tr>
    
    <tr>
      <th align="left"><%= t("item.price") %>:</th>
      <td><%=h number_with_delimiter( @item.price ) %>円</td>
    </tr>
    
    <tr>
      <th align="left"><%= t("item.happen_at") %>:</th>
      <td><%=h @item.happen_at.strftime("%Y年%m月%d日") unless @item.happen_at.blank? %></td>
    </tr>
  </table>
  
  <br />
  
  <span class="menu">
    <%= link_to t("menu.list"), :controller => "total", :action => "amount", :sum_type => @sum_type, :date=> @now_date -%>
    <%= link_to t("menu.edit"), :action => "edit", :id => @item.id, :sum_type => @sum_type, :date=> @now_date -%>
  </span>
<% end %>

<br />
